@import '../../styles/variables.scss';

.header {
    width: 100%;
    display: flex;
    justify-content: center;

    .navbar {
        width: 25%;
        display: flex;
        justify-content: center;
        gap: 3rem;
        position: fixed;
        margin-top: 1rem;
        padding: 0.3rem 1.5rem;
        background-color: $dark-blue-color;
        border-radius: 1rem;

        .link {
            text-decoration: none;
            color: $white-color;
            font-weight: 400;

            &:hover {
                color: $cian-color;
            }
        }

        .active {
            color: $cian-color;
        }
    }
}

